@media only screen and (min-width: 1300px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(var(--main-container) + var(--container-gutters));
    padding-left: calc(var(--container-gutters) / 2);
    padding-right: calc(var(--container-gutters) / 2);
  }
}

@media (min-width: 1700px) {
  .th-container {
    --main-container: 1508px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: 0;
  }
  .container.cta-wrap {
    --main-container: 1666px;
  }
}

@media (min-width: 1600px) {
  .th-container {
    --main-container: 1508px;
  }
}

@media only screen and (max-width: 1600px) {
  .container-fluid.px-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;

    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

@include hd {
  .th-container {
    margin-right: auto;
  }
}