/* ------------------------------- Footer 7 ---------------------------------- */
.footer-layout7 {
    position: relative;
    background-color: $title-color;  
    --body-color: #ADADAD; 
    z-index: 2;


    .copyright-wrap {
        background-color: #0B0B0B;
        text-align: center;
       
    }

    .copyright-text {
        color: $body-color;
        text-transform: capitalize;

        a {
            color: $theme-color;

            &:hover {
                color: $white-color;
            }
        }
    }

    .widget-area {
        padding-bottom: 45px; 

        @include md {
            padding-top: 80px; 
        }
    }
    .about-text {  
        margin-bottom: 26px;
    }
    .about-logo {
        margin: -12px 0 25px 0; 
    }

    .working-time {
        .title {
            font-family: $title-font;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase; 
            color: $white-color;
            display: block;
            margin-bottom: 6px;
        }

        .desc {
            margin-bottom: 35px;
        }
    }

    .footer-social {
        a {
            display: inline-block;
            width: var(--icon-size, 46px);
            height: var(--icon-size, 46px);
            line-height: var(--icon-size, 48px);
            background-color: #3D4250;
            color: $white-color;
            font-size: 14px;
            text-align: center;
            margin-right: 5px;
            border-radius: 0;
            transition: all 0.4s;

            &:hover {
                background-color: $theme-color;
                transform: rotate(360deg);
            }
        }
    }
    .footer-shape{
        position: absolute;
        left: 0;
        bottom: 0; 
        z-index: -1;
    }
}

.footer-search-contact {
    .form-control {
        background-color: #2C3240;
        color: $white-color;
        border: none;
        margin-bottom: 16px;
    }
}