@include md {
    .header-layout3 .top-right .row {
        --bs-gutter-x: 24px;
    }
}

.box-title {
    font-size: 24px;
    line-height: 1.417;
    font-weight: 700;
    margin-top: -0.32em;

    a {
        color: inherit;

        &:hover {
            color: $theme-color;
        }
    }
}

.slider-shadow {
    .slick-list {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        margin-bottom: -30px;
        margin-top: -30px;
    }
}

.tab-menu4 {
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -30px; 
    margin-bottom: 60px;

    button {
        font-weight: 600;
        color: $white-color;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        padding: 0;

        &:not(:last-child) {
            &:after {
                content: '';
                height: 1px;
                width: 40px;
                background-color: #aaa;
                display: inline-block;
                margin-left: 10px;
                position: relative;
                top: -5px;
            }
        }

        &.active {
            color: $theme-color;
        }
    }
}

@include lg {
    .tab-menu4 {
        margin-top: -30px;
        margin-bottom: 55px;
    }
}

@include md {
    .tab-menu4 {
        margin-top: -20px;
        margin-bottom: 45px;
    }
}

@include sm {
    .tab-menu4 {
        gap: 8px 20px;

        button {
            &:not(:last-child) {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.download-area {
    position: relative;
    z-index: 3;
    padding: 60px;
    background-color: $smoke-color;
    background-position: left bottom;

    @include sm {
        padding: 50px 12px;
    }
}

.brand-img {
    &.style2 {
        img {
            filter: none;
        }
    }
}

.brand-title {
    position: relative;
    font-family: $title-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: $title-color;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include sm {
        font-size: 18px;
        line-height: 28px;
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        height: 1.5px;
        width: 420px;
        background-color: #E0E0E0;

        @include xs {
            display: none;
        }
    }

    &:before {
        margin-left: -26.9rem;
    }

    &:after {
        margin-left: 1rem;
    }

    .counter-card_number {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: $theme-color;

        @include sm {
            font-size: 18px;
            line-height: 28px;  
        }
    }

    .counter-title {
        color: $title-color;
        text-transform: uppercase;
    }
}

.header-button {
    .th-btn {
        @media(max-width: 1399px) {
            display: none;
        }
    }
}