/* -------------------------- Testimonial Start ---------------------------------- */
.testi-area {
    .slick-arrow {
        border-radius: 10px;
    }

    .slick-current {
        &.slick-active {
            .testi-item {
                .testi-shape2 {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.testi-item {
    &.style2 {
        background: $white-color;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        z-index: 2;

        &:after {
            display: none;
        }

        .testi-item {
            &_star { 
                color: $theme-color;
                margin-bottom: 15px;

                i {
                    font-size: 14px;
                }
            }

            &_text {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 30px; 
                padding-bottom: 20px;
                border-bottom: 1px solid #E7E7E7; 
            }
            &_img {
                min-width: 60px;
                border-radius: 10px; 
        
                img {
                    border-radius: 10px;
                }
            }
        }

        .testi-shape {
            position: absolute;
            left: 0;
            bottom: 0px; 
            z-index: -1;
            img{
                opacity: 0.8; 
            }
        }

        .testi-shape2 {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1; 
            opacity: 0;
            visibility: hidden;
        }
    }

    &_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    &_profile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }

   
}

/* -------------------------- Testimonial End ---------------------------------- */